*{
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html{
    height: 100vh;
}

body{
    /*background-color:  #c5ebd6;;*/
    font-family: monospace;
     
}

header{
    background-image: linear-gradient(to bottom, #063d1e, #2fa866);
    height: 15vh;
}

h1{
    padding-top: 3vh;
    color: white;
    font-size: 5vw ;
    text-align: center;
}


nav {
    padding-bottom: 5vh;
    font-size: 1.8vw;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: bold;
}

nav > a{
    color: white;
    padding: 1vw;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: rgb(119, 170, 61)
}

main{
    background-color: #a8e2b1;
    height: 75vh;
}

main  div{
    display: flex;
    justify-content: center;
    
}

iframe{
    margin-top: 10vh;
    padding-top: 2vh;
    background-color: rgb(295, 245, 245);
    border-radius: 10px;
    width: 80vw;;
    height: 50vh;
   }

table{
    padding-top: 80px;
    border-spacing: 10px;
    font-size: 2vw;
}

ol li{
    text-align: center;
    font-size: 2vw;
}

#apresentacao{
    /*padding-top: 90px;*/
    display: flex;
    justify-content: center;
}

#apresentacao_texto{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.7vw;
    text-align: justify;
    line-height: 1.5;
}
#div_identificacao{
    display: flex;
    justify-content: center;
}

#lista_identificacao{
    padding-top: 5vh;
    font-size: 3vw;
    line-height: 1.5;
    list-style: none;
    margin: auto;
}

#div_formacao{

}

div ol li{
    padding-top: 30px;
    font-size: 2.7vw;

}

table th, td{
    font-size: 2.7;
    padding-left: 1px;
    padding-right: 1px;
}

footer{
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    text-align: center;
    padding-top: 3vh;
    height: 10vh;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a{
    color: white;
    font-weight: bold;
    font-size: 1.6vw;
    text-decoration: none;
    
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);

}